<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mtjin.cnunoticeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".di.KoinApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".views.photo_view.PhotoViewActivity"></activity>
        <activity
            android:name=".views.app_notice.AppNoticeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.photo_zoom.PhotoZoomActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.board_detail.BoardDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.board_write.BoardWriteActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.board_list.BoardListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.board.BoardActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.main.MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.notice_webview.NoticeWebViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.login.LoginActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.univ_notice.NoticeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".views.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>